<div class="center jumbotron">

  <h1>"Welcome to the Inno Med App!"</h1>

  <h2>
 
    <%= image_tag('innomed-logo.png') %>
  </h2>
  <p> Connecting Health...</p>

  <% if not logged_in? %>
  <%= link_to "Our Doctors!", doctors_path, class: "btn btn-lg btn-primary" %>
 <% else %>
          <% if current_user.user_type == "patient" %>
            <%= link_to "Our Doctors!", doctors_path, class: "btn btn-lg btn-primary" %>
           <% end %>
  <% end %>

</div>

