<div class="center jumbotron">
  <h1>"Welcome to the Inno Med App!"</h1>

  <h2>
 
    <%= image_tag('innomed-logo.png') %>
  </h2>
  Connecting Health...</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

