<p id="notice"><%= notice %></p>

<h2 class="ui center aligned blue header">Remote Consultation Information</h2>
<table class="ui definition table user-info selectable">
<tr>
    <td>Title:</td>
    <td><%= @remoteconsultation.title %></td>
</tr>
<tr>
    <td>Content:</td>
    <td><%= @remoteconsultation.content %></td></tr>

</table>
