<ul class="list-group">
  <% @users.each do |user| %>
    <% chat_path = current_doctor ? doctor_room_path(patient_id: user.id) : room_path(doctor_id: user.id) %>
    <%= link_to chat_path, class: 'chatperson' do %>
      <span class="chatimg">
        <img src="http://via.placeholder.com/50x50?text=A" alt="" />
      </span>
      <div class="namechat">
        <div class="pname"><%= user.full_name %></div>
        <% if user.is_a?(Doctor) %>
          <div class="lastmsg"><%= user.speciality %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>
