<footer class="footer">
  <small>
    The DBS CA Project developed by  Mandeep Rathee, Darren Lee ,Jihad Elbasir, Nisar Fatima Syed
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

      <% if logged_in? %>
          <li> <%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
           <li><%= link_to "Doctor Log in", login_path %></li>

        <% end %>

     
    </ul>
  </nav>
</footer>